:root {
    --theme: #FFFFFF;
    --passive: #333344;
    --active: #777788;
    --coaster: #DDDDEE;
}

body {
    max-width: 800px;
}

#navigation {
    height: 8vh;
}

#navigation > img {
    align-self: center;
    padding: 1vh;
    margin: 1vh;
    height: 3vh;
    width: 3vh;
}

#contents {
    min-height: 92vh;
}