:root {
    --theme: #383838;
    --passive: #ececec;
    --active: #afafaf;
    --coaster: #808080;
}

body {
    /* max-width: 460px; */
}

#navigation {
    /* Sizing */
    height: 8vh;
    /* Positioning */
    position: fixed;
    /* Absolute position */
    top: 0;
    left: 0;
    right: 0;
    /* Colors */
    background-color: var(--coaster);
    /* Inner alignment */
    justify-content: start;
}

#contents {
    /* Navigation margin */
    margin-top: 8vh;
    /* Sizing */
    min-height: 92vh;
    /* Inner alignment */
    justify-content: start;
}

#navigation > * {
    width: auto !important;
}